.todo_wrap {
  width: 100%;
  text-align: left;
  overflow-x: hidden;
}
.todo_wrap input[type="text"] {
  appearance: none;
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 15px;
  border-bottom: 1px solid #fdfdfd;
  font-size: 26px;
}
.todo_wrap #todo-list {
  width: calc(100% + 20px);
  max-height: 370px;
  padding: 10px 0;
  overflow-y: scroll;
}
.todo_wrap #todo-list > li {
  position: relative;
  width: 96%;
  padding-left: 20px;
  padding-right: 45px;
  margin: 0 2% 8px 2%;
  line-height: 43px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 2px 1px, rgb(0 0 0 / 15%) 0px 4px 16px,
    rgb(255 255 255 / 12%) 0px 0px 2px inset;
  transition: 0.2s ease;
}
.todo_wrap #todo-list > li:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.todo_wrap #todo-list > li > button {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.todo_wrap #todo-list > li > button::before,
.todo_wrap #todo-list > li > button::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}
.todo_wrap #todo-list > li > button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.todo_wrap #todo-list > li > button::after {
  transform: translate(-50%, -50%) rotate(135deg);
}
