/* ---- MAIN BANNER section ---- */
.main-banner .banner-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner-list {
  width: 100%;
  font-size: 0;
}
.banner-list .banner-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-position: center center;
  background-size: cover;
}
.banner-list .banner-item:first-child {
  display: block;
  background-color: #2a2a2a;
  background-image: url('../img/main/mainbanner_001.jpg');
}
.banner-list .banner-item:nth-child(2) {
  background-color: #2a2a2a;
  background-image: url('../img/main/mainbanner_002.jpg');
}
.banner-list .banner-item:nth-child(3) {
  background-color: #2a2a2a;
  background-image: url('../img/main/mainbanner_003.png');
}

.artic-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.artic-banner .banner-title-wrap {
  position: absolute;
  width: 100%;
  max-width: 960px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.artic-banner .banner-title {
  width: 70%;
  margin: 0 auto;
  line-height: 1.4;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  word-break: keep-all;
}
.artic-banner .banner-title-sub {
  width: 75%;
  margin: 26px auto;
  line-height: 1.6;
  font-size: 17px;
  font-weight: 200;
  color: #fff;
  letter-spacing: -0rem;
  word-break: keep-all;
}

/* banner btns */
.main-banner .banner-btn-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 800px;
  height: 35px;
  transform: translateX(-50%);
}
.main-banner .banner-btn {
  display: inline-block;
  position: relative;
  width: 32%;
  text-align: center;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
  transition: 1.6s;
}
.main-banner .banner-btn.now-on {
  opacity: 1;
}
.main-banner .banner-btn .btn-topper {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.4s;
}
.main-banner .banner-btn.now-on .btn-topper {
  height: 5px;
}
.main-banner .banner-btn > p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.02rem;
}

/* banner arrow btns */
.main-banner .btn-arrow-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  transform: translate(-50%, -50%);
}
.main-banner .btn-arrow {
  position: absolute;
  padding: 20px 10px;
  cursor: pointer;
}
.main-banner .arrow-prev {
  left: 0;
}
.main-banner .arrow-next {
  right: 0;
}
.main-banner .btn-arrow > a {
  display: block;
  width: 42px;
  height: 42px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  text-indent: -99999px;
  overflow: hidden;
}
.main-banner .arrow-prev > a {
  transform: rotate(-45deg);
}
.main-banner .arrow-next > a {
  transform: rotate(135deg);
}

/* ---- QUICK section ---- */
section.site-news {
  width: 100%;
  background-color: #f2f2f2;
  padding: 100px 0;
}
.site-news .site-news-title {
  display: none;
  /* margin-bottom: 60px; */
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.site-news .site-news-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* width: 64%; */
  width: 654px;
  /* min-width: 640px; */
}

.site-news .content-quick-item {
  /* width: calc(50% - 10px); */
  width: 100%;
  /* padding: 50px 40px 100px; */
  padding: 24px 34px 48px;
  background-color: #fff;
  box-sizing: border-box;
}
/* .site-news .content-quick-press {
  float: left;
}
.site-news .content-quick-notice {
  float: right;
} */
.site-news .site-banner-content.metworks .content-quick-item {
  background-color: transparent;
}
.site-news .site-banner-container .content-quick-item {
  padding: 0px;
}
.site-news .site-banner-content.metworks {
  /* width: 64%; */
  width: 654px;
  /* width: 100%; */
  /* min-width: 640px; */
}
.site-news .site-banner-content.whatsNew {
  /* display: none; */
  /* width: 36%; */
  width: 36%;
  height: 102px;
  overflow: hidden;
}
#whatsNewBanner {
  width: 100%;
}
#whatsNewBanner > a {
  display: block;
  width: 100%;
  overflow: hidden;
  /* background-image: url('../img/main/banner_2024.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-position: 0px; */
}
#whatsNewBanner > a > img {
  width: 100%;
}

.site-news .quick-title-wrap {
  position: relative;
  /* margin-bottom: 50px; */
  margin-bottom: 22px;
}
.site-news .quick-title-wrap .alert {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
  bottom: 0;
  right: 0;
  font-size: 13px;
  color: #e44646;
}
.site-news .quick-title-wrap .quick-title {
  /* font-size: 28px; */
  font-size: 26px;
  font-weight: 900;
}
.site-news .quick-title-wrap .quick-title-sub {
  display: inline-block;
  /* margin-top: 8px; */
  margin-top: 6px;
  /* font-size: 20px; */
  font-size: 18px;
}
.site-news .quick-title-wrap .btn-more-plus {
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}
.site-news .quick-title-wrap .btn-more-plus > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
}
.site-news .quick-title-wrap .btn-more-plus > a::before,
.site-news .quick-title-wrap .btn-more-plus > a::after {
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: #444;
}
.site-news .quick-title-wrap .btn-more-plus > a::before {
  transform: translate(-50%, -50%);
}
.site-news .quick-title-wrap .btn-more-plus > a::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.site-news .quick-desc {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444;
}
.site-news .site-banner-container .quick-desc {
  border: none;
}
.site-news .quick-list {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 14px; */
  gap: 18px;
}
.quick-item {
  position: relative;
  width: 50%;
  height: 105px;
  padding: 20px 0;
  font-size: 0;
  transition: 0.3s;
}
.quick-item:first-child {
  border-bottom: 1px solid #ddd;
}
.quick-item:hover {
  background-color: #fafafa;
}
.quick-item > div {
  display: inline-block;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  font-size: 1rem;
}
.quick-item > .quick-date-wrap {
  left: 0;
  /* width: 25%; */
  width: 22%;
}
.quick-item > .quick-content-wrap {
  right: 0;
  /* width: 75%; */
  width: 78%;
}
.quick-date-wrap .quick-year {
  /* font-size: 15px; */
  font-size: 14px;
  color: #777;
}
.quick-date-wrap .quick-date {
  /* margin-top: 6px; */
  margin-top: 2px;
  /* font-size: 20px; */
  font-size: 18px;
  font-weight: 500;
}

.quick-content-wrap .quick-title {
  width: 100%;
  line-height: 1.4;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* font-size: 17px; */
  font-size: 16px;
  font-weight: 500;
}
.quick-content-wrap .quick-content {
  display: inline-block;
  /* margin-top: 16px; */
  margin-top: 12px;
  /* font-size: 14px; */
  font-size: 13px;
  line-height: 1.6;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #666;
}

.site-keyword-content {
  width: 36%;
  height: inherit;
  /* min-height: 656px; */
  /* background-color: #fff; */
}
.site-keyword-content .content-quick-item {
  /* height: 100%; */
}

/* ---- QUICK section // Metworks Banner ---- */
.swiper-slide.metworks-banner-item {
  width: 100%;
  overflow-y: hidden;
}
.metworks-banner-item > a {
  display: block;
  width: 100%;
  margin-bottom: -5px;
}
.metworks-banner-item > a > img {
  width: 100%;
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
  /*  MAIN-BANNER 768px  */
  .banner-title-wrap.mode-pc {
    display: none;
  }
  .artic-banner .banner-title {
    font-size: 34px;
  }
  .artic-banner .banner-title-sub {
    margin: 15px auto 20px;
    font-size: 18px;
    font-weight: 300;
  }
  .artic-banner .btn-list-more > button {
    width: 125px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
  }
  .artic-banner .btn-list-more > button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .main-banner .banner-btn-list {
    height: 38px;
  }
  .main-banner .banner-btn-list {
    width: 94%;
  }
  .main-banner .banner-btn > p {
    font-size: 18px;
  }

  .main-banner .btn-arrow-wrap {
    width: 96%;
    top: 36%;
  }

  /*  QUICK CONTENT 768px  */
  .site-news-container,
  .site-banner-container {
    flex-direction: column;
  }
  .site-news .site-news-content {
    width: 100%;
    min-width: unset;
  }
  .site-keyword-content {
    width: 100%;
  }
  .site-news .quick-list {
    flex-wrap: wrap;
    gap: 0;
  }
  .site-news .quick-list .quick-item {
    width: 100%;
  }
  .site-news .quick-title-wrap {
    margin-bottom: 24px;
  }
  .site-news .content-quick-item {
    padding: 35px 35px 55px;
  }
  .quick-item > .quick-date-wrap {
    width: 20%;
  }
  .quick-date-wrap .quick-year {
    font-size: 14px;
  }
  .quick-date-wrap .quick-date {
    margin-top: 2px;
    font-size: 17px;
  }
  .quick-item > .quick-content-wrap {
    width: 80%;
  }

  .site-banner-container {
    width: 100%;
  }
  .site-news .site-banner-content.metworks {
    width: 100%;
    min-width: unset;
  }
  .site-news .site-banner-content.whatsNew {
    width: 50%;
    height: 30vw;
  }
}

@media all and (max-width: 480px) {
  /*  MAIN-BANNER 480px  */
  .main-banner .banner-content {
    height: 80vh;
  }
  .artic-banner .banner-title-wrap {
    top: 45%;
  }
  .artic-banner .banner-title {
    width: 84%;
    font-size: 22px;
    word-break: keep-all;
  }
  .artic-banner .banner-title-sub {
    width: 80%;
    margin: 10px auto 15px;
    font-size: 14px;
    word-break: keep-all;
  }
  .artic-banner .btn-list-more > button {
    width: 84px;
    height: 38px;
    font-size: 14px;
  }

  .main-banner .banner-btn-list {
    bottom: 12%;
    height: 30px;
  }
  .main-banner .banner-btn .btn-topper {
    height: 1px;
  }
  .main-banner .banner-btn.now-on .btn-topper {
    height: 3px;
  }
  .main-banner .banner-btn > p {
    font-size: 13px;
    letter-spacing: -0.06rem;
  }

  .main-banner .btn-arrow-wrap {
    display: none;
  }

  /*  QUICK SECTION 480px  */
  section.site-news {
    padding: 60px 0 60px;
  }

  .site-news .content-quick-item {
    width: 100%;
    padding: 30px 24px 50px;
    /* margin-bottom: 30px; */
  }
  .site-news .content-quick-item:last-child {
    margin-bottom: 0;
  }
  .site-news .site-news-title {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .site-news .quick-title-wrap .quick-title {
    font-size: 24px;
  }
  .site-news .quick-title-wrap .quick-title-sub {
    margin-top: 4px;
    font-size: 18px;
  }
  .quick-date-wrap .quick-date {
    font-size: 16px;
  }

  .site-news .site-banner-content.whatsNew {
    width: 100%;
    height: 48vw;
  }
}

@media all and (max-width: 320px) {
  /*  MAIN-BANNER 320px  */
  .artic-banner .banner-title {
    font-size: 22px;
  }
  .artic-banner .banner-title-sub {
    font-size: 13px;
  }
}
