@charset "utf-8";
@import url('./reset.css');
@import url('./font.css');
@import url('./fontello-embedded.css');
@import url('./layout.css');
@import url('./index.css');
@import url('./newContents.css');

/*  COMMON  */
.btn-list-more {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  text-align: center;
}
.btn-list-more > button {
  width: 100px;
  height: 42px;
  background-color: #444;
  border: none;
  font-size: 15px;
  color: #fff;
  text-align: center;
  transition: 0.25s;
}
.btn-list-more > button:hover {
  cursor: pointer;
  background-color: #5f5f5f;
}

.btn-back-list {
  display: inline-block;
  width: 73px;
  height: 33px;
  background-color: #444;
  text-align: center;
}
.btn-back-list > a {
  line-height: 33px;
  font-size: 14px;
  color: #fff;
  transition: 0.25s;
}
.btn-back-list:hover {
  cursor: pointer;
  background-color: #5f5f5f;
}

.btn-page-wrap > p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  text-align: center;
  vertical-align: top;
}
.btn-page-arrow {
  position: relative;
}
.btn-page-arrow > a {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  border-top: 1px solid #444;
}
.btn-page-arrow-prev > a {
  left: 0;
  border-left: 1px solid #444;
  transform: translateY(-50%) rotate(-45deg);
}
.btn-page-arrow-next > a {
  right: 0;
  border-right: 1px solid #444;
  transform: translateY(-50%) rotate(45deg);
}
.btn-page-wrap > p > a {
  line-height: 28px;
}
.btn-page-num {
  border-radius: 50%;
}
.btn-page-num.now-on {
  background-color: #444;
}
.btn-page-num.now-on > a {
  color: #fff;
}

.blind {
  display: block;
  position: absolute;
  left: 0;
  top: -9999px;
}

.clearFix::after,
section > .container::after {
  content: '';
  display: block;
  clear: both;
}

.add-hyphen > p {
  position: relative;
  margin-left: 7px;
  padding-left: 5px;
}
.add-hyphen > p::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 1px;
  top: 8px;
  left: -5px;
  background-color: #2a2a2a;
}

p > b,
span > b {
  font-weight: 600;
}

/* ---- COMPANY page ---- */
.page-header {
  width: 100%;
  min-width: 1000px;
}
.page-header > .page-header-inner {
  width: 100%;
}
.page-title-wrap {
  position: relative;
  width: 100%;
  padding: 60px 0 60px;
  text-align: center;
  background-size: cover;
  background-position: center;
}
#companyPage .page-title-wrap {
  padding: 65px 0 65px;
  background-image: url('../img/main/topprt_00.png');
}
#businessContentPage .page-title-wrap,
#businessInspectPage .page-title-wrap,
#businessQualityPage .page-title-wrap,
#businessSecurityPage .page-title-wrap {
  background-image: url('../img/main/topper_01.png');
}
#noticePage .page-title-wrap,
#noticeViewPage .page-title-wrap {
  background-image: url('../img/main/topper_02.png');
}
#pressPage .page-title-wrap,
#pressViewPage .page-title-wrap {
  background-image: url('../img/main/topprt_03.png');
}
#contactPage .page-title-wrap {
  background-image: url('../img/main/topprt_05.png');
}
#recruitPage .page-title-wrap {
  background-image: url('../img/main/topprt_04.jpg');
}
.page-title-wrap .page-title-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.page-title-wrap .page-title {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 16px;
  margin-bottom: 15px;
  letter-spacing: 0;
}
.page-title-wrap .page-title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 27px;
  height: 2px;
  transform: translateX(-50%);
  background-color: #fff;
}
.page-title-wrap .page-desc {
  position: relative;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
#companyPage .page-title-wrap .page-title {
  font-size: 30px;
}
#companyPage .page-title-wrap .page-desc {
  font-size: 18px;
}

.sec-title {
  display: inline-block;
  position: relative;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 700;
}
.sec-title::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 25px);
  max-width: 200px;
  height: 3px;
  background-color: #2a2a2a;
}
.sec-content {
  float: right;
  position: relative;
  width: 72%;
}
#contactPage .sec-content {
  width: 50%;
}
#recruitPage .sec-content {
  width: 75%;
}
.sec-content.sec-content-full {
  float: none;
  width: 100%;
}
.sec-content .content-item {
  margin-top: 80px;
}
.sec-content .content-item:first-child {
  margin-top: 30px;
}

.content-item > article {
  width: 100%;
}
.content-item > article .info-item {
  width: 100%;
  padding-bottom: 24px;
  font-size: 0;
}
.content-item > article .info-item:last-child {
  padding-bottom: 0;
}
.content-item > article .info-item > p,
.content-item > article .info-item > span {
  display: inline-block;
  line-height: 1.4;
  font-size: 16px;
}
.content-item > article .info-item > p {
  width: 20%;
  font-weight: 600;
}
.content-item > article .info-item > span {
  width: 80%;
  font-weight: 400;
  color: #616161;
}

.history-box {
  width: 100%;
}
.history-box:last-child {
  padding-bottom: 30px;
}
.history-box dl {
  font-size: 0;
}
.history-box dl dt,
.history-box dl dd {
  display: inline-block;
  line-height: 1.4;
  vertical-align: top;
}
.history-box .history-month,
.history-box .history-text {
  margin-bottom: 24px;
}
.history-year {
  width: 16%;
  font-size: 18px;
  font-weight: 800;
}
.history-explain {
  width: 84%;
}
.history-explain .history-month {
  width: 20%;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.history-explain .history-text {
  width: 80%;
}
.history-explain .history-text > span {
  display: inline-block;
  width: 100%;
  padding-top: 6px;
  font-size: 16px;
  color: #616161;
}
.history-explain .history-text > span:first-child {
  padding-top: 0;
}

.artic-organ-desc {
  font-size: 0;
}
.artic-organ-desc > p,
.artic-organ-desc > span {
  display: inline-block;
  line-height: 1.5;
  font-size: 16px;
  vertical-align: middle;
}
.artic-organ-desc > p {
  width: 13%;
  font-weight: 600;
  vertical-align: top;
}
.artic-organ-desc > span {
  width: 87%;
  letter-spacing: -0.03rem;
}
.company-organization .artic-img {
  float: right;
  margin-top: 25px;
  width: 600px;
  height: auto;
  text-align: center;
}
.artic-img svg {
  width: 100%;
  height: 100%;
}
.artic-organ-research .artic-img svg {
  width: 70%;
  margin: 20px auto;
}

.artic-members .memb-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 28px;
}
.artic-members .memb-name {
  width: 100px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06rem;
}
.artic-members .memb-info .txt {
  position: relative;
  padding-left: 14px;
  margin-bottom: 8px;
  font-size: 16px;
}
.artic-members .memb-info .txt::after {
  content: '';
  position: absolute;
  left: 0;
  top: 46%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid hsl(270, 94%, 80%);
}
.artic-members .memb-info .txt:first-child::after {
  border: 3px solid #903ce3;
}
.artic-members .memb-info .txt strong {
  font-weight: 600;
}

.main_sub_cell {
  float: left;
  width: 20%;
  height: auto;
  min-height: 10px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  line-height: 27px;
}
.main_sub_cell img {
  width: 90%;
  display: block;
  margin: 0px auto;
}
.main_sub_cell div {
  width: 100%;
  height: auto;
  padding: 0 10px 20px 10px;
  box-sizing: border-box;
}
em.bord {
  margin-left: 5px;
  width: 90%;
  height: 1px;
  background: #d4d4d4;
  margin-bottom: 20px;
  display: block;
}
.main_sub_cell b {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.main_sub_txt {
  margin-bottom: 50px;
}
.main_sub_txt span {
  letter-spacing: -0.03rem;
  width: 100%;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  font-size: 16px;
}

/* ---- BUSINESS_CONTENT page ---- */
.page-desc-wrap {
  width: 1000px;
  padding: 0 20px;
  margin: 50px auto 0;
  box-sizing: border-box;
}
.page-desc-wrap .page-desc {
  line-height: 1.4;
  font-size: 22px;
  font-weight: 700;
}
.page-desc-wrap .page-desc-sub {
  display: inline-block;
  width: 65%;
  margin-top: 16px;
  line-height: 1.5;
  font-size: 16px;
  word-break: keep-all;
}

.row-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row-item {
  width: 335px;
  margin-bottom: 30px;
}
.row-item .img-wrap {
  width: 335px;
  height: 220px;
  background-color: #eee;
}

.row-item .info-wrap {
  margin-top: 12px;
}
.row-item .info-wrap > .info-title {
  font-size: 16px;
  font-weight: 600;
}
.row-item .info-wrap > p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-all;
}

/* ---- BUSINESS_INSPECT page ---- */
.artic-title-wrap {
  display: inline-block;
  position: relative;
  height: 28px;
  padding: 0 40px 0 6px;
  margin-bottom: 18px;
  background-color: #3a3a3a;
}
.artic-title-wrap .artic-title {
  line-height: 27px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.artic-title-wrap .alert {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
  width: 300px;
  top: calc(100% + 10px);
  left: 0;
  font-size: 13px;
  color: #e44646;
}
.artic-desc-wrap .artic-desc > p {
  margin-bottom: 8px;
  line-height: 1.4;
  font-size: 15px;
}
.artic-desc-wrap .artic-desc > p:last-child {
  margin-bottom: 36px;
}
.artic-interview .artic-img {
  width: 100%;
  height: 505px;
  margin-top: 30px;
}
.artic-interview .artic-img > img {
  width: 100%;
}
.artic-interview .artic-img > svg {
  width: 100%;
}

.business-inspect-qualitative {
  width: 100%;
  background-color: #f7f7f7;
}
.artic-qualitative .artic-img {
  margin-top: 30px;
}
.artic-qualitative .artic-img-inner > h5 {
  margin-bottom: 14px;
  font-size: 17px;
  font-weight: 600;
}
.artic-qualitative .artic-img-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0;
}
.artic-qualitative .artic-img-box > em {
  display: inline-block;
  width: 32%;
  height: 152px;
  background-color: #eee;
}
.artic-qualitative .artic-img-box > em > img {
  width: 100%;
}
.artic-img-inner:first-child {
  margin-bottom: 30px;
}

.artic-desc .desc-list-wrap .desc-list {
  margin-top: 20px;
}
.artic-desc .desc-list-wrap .desc-list:first-child {
  margin-top: 0;
}
.artic-desc .desc-list-wrap .desc-list > h5 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}
.artic-desc .desc-list-wrap .desc-list > .add-hyphen > p {
  margin-bottom: 8px;
  margin-left: 24px;
  line-height: 1.4;
  font-size: 15px;
  color: #4f4f4f;
}
.artic-img-online-panel {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 35px auto 60px;
  font-size: 0;
}
.artic-img-online-panel .svg-wrap {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  transition: 0.4s;
}
.artic-img-online-panel .svg-wrap:hover {
  opacity: 0.85;
}
.artic-img-online-panel .svg-wrap > img {
  display: inline-block;
  width: 80%;
  text-align: center;
  cursor: pointer;
}
.artic-img-partnership-panel {
  width: 100%;
  margin: 35px auto 0px;
}
.artic-img-partnership-panel .svg-wrap {
  display: inline-block;
  width: 33%;
  height: 145px;
  box-sizing: border-box;
  text-align: center;
}
.artic-img-partnership-panel .svg-wrap > img {
  height: 100%;
}

.artic-desc-online-process {
  width: 100%;
  margin-top: 40px;
}
.artic-img-online-process {
  width: 100%;
  margin-top: 20px;
}
.artic-img-online-process .img-box {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-color: #eee;
}

/* ---- BUSINESS_QUALITY page ---- */
.quality-list {
  width: 100%;
}
.quality-item {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.quality-item:first-child {
  margin-top: 0;
}
.quality-item > div {
  display: inline-block;
}
.quality-item > .middle-bar {
  position: absolute;
  width: 90%;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8d48b2;
  z-index: -1;
}
.quality-item > .item-title,
.quality-item > .item-explain {
  height: 60px;
}
.quality-item > .item-title {
  float: left;
  padding-top: 10px;
  text-align: center;
  border-radius: 35px;
  background: linear-gradient(120deg, #2d2f91, #8d48b2);
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
}
.quality-item > .item-title.wide-1 {
  width: 105px;
}
.quality-item > .item-title.wide-2 {
  width: 120px;
}
.quality-item > .item-title.wide-3 {
  width: 172px;
}
.quality-item > .item-title.wide-3 > p {
  letter-spacing: -0.05rem;
}
.quality-item > .item-title > p {
  margin-bottom: 2px;
}
.quality-item > .item-explain {
  float: right;
  display: flex;
  align-items: center;
  width: 68%;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #8d48b2;
  background-color: #fff;
  box-sizing: border-box;
}
.quality-item > .item-explain > p {
  word-break: keep-all;
}

/* ---- BIG DATA page ---- */
.trend-rank-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.artic-news-keyword .artic-title-wrap {
  margin-bottom: 34px;
}
.artic-news-keyword .artic-title-wrap .artic-title {
  display: inline-block;
}
.artic-news-keyword .title-date {
  display: inline-block;
  margin-left: 10px;
}
.artic-news-keyword .artic-title h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #2d2f91;
}
.artic-news-keyword .title-date {
  margin-left: 10px;
  font-weight: 500;
  color: #888;
}
.trend-rank-list {
  text-align: center;
}
.trend-rank-list > h4 {
  position: relative;
  display: inline-block;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  z-index: 10;
}
.trend-rank-list > h4::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 10px;
  background-color: #d1d1fb;
  opacity: 0.7;
  z-index: -1;
}
.rank-list .rank-item {
  position: relative;
  width: 136px;
  height: 34px;
  padding-left: 30px;
  padding-right: 14px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #f8f8fc;
  text-align: right;
  box-sizing: border-box;
}
.rank-list > .rank-item:nth-child(n + 1):nth-child(-n + 3) {
  background-color: #f1f1f8;
}
.rank-item .item-standing {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 13px;
  font-weight: 500;
  color: #6c6dbe;
}
.rank-list > .rank-item:nth-child(n + 1):nth-child(-n + 3) > .item-standing {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  color: #2d2f91;
}
.rank-list
  > .rank-item:nth-child(n + 1):nth-child(-n + 3)
  > .item-standing::after {
  content: '';
  position: absolute;
  top: calc(100% + -3px);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 1px;
  background-color: #2d2f91;
}
.rank-item .item-keyword {
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  white-space: nowrap;
  letter-spacing: -0.04rem;
}
.rank-list > .rank-item:nth-child(n + 1):nth-child(-n + 3) > .item-keyword {
  font-size: 15px;
  font-weight: 600;
}

#idxTrdSwpContainer.swiper-container {
  padding-top: 24px;
  padding-bottom: 24px;
}
#idxTrdSwpContainer .rank-list .rank-item {
  height: 30px;
}
#idxTrdSwpContainer
  .rank-list
  > .rank-item:nth-child(n + 1):nth-child(-n + 3)
  > .item-standing {
  font-size: 15px;
}
#idxTrdSwpContainer .rank-item .item-standing {
  font-size: 13px;
}
#idxTrdSwpContainer
  .rank-list
  > .rank-item:nth-child(n + 1):nth-child(-n + 3)
  > .item-keyword {
  font-size: 14px;
}
#idxTrdSwpContainer .rank-item .item-keyword {
  font-size: 13px;
  line-height: 30px;
}

.artic-news-keyword .artic-info-wrap {
  margin-top: 24px;
}
.rank-info {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  position: relative;
  margin-top: 10px;
  margin-left: 7px;
  padding-left: 5px;
}
.rank-info:first-child {
  margin-top: 0;
}
.rank-info::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 1px;
  top: 10px;
  left: -5px;
  background-color: #2a2a2a;
}
.rank-info .name {
  /* margin-bottom: 4px; */
  width: 70px;
  font-size: 15px;
  font-weight: 600;
}
.rank-info .name span {
  display: inline-block;
  font-size: 15px;
}
.rank-info .txt {
  margin-right: 8px;
}
.link a {
  color: #6f9de2;
  text-decoration: underline;
}
.link a:hover {
  color: #3880ed;
}
.link a:visited {
  color: #0b52bc;
}
.link a:active {
  color: #c22d2d;
}

/* ---- CONTACT page ---- */
.content-item-map {
  position: absolute;
  top: 65px;
  left: -480px;
  width: 380px;
  height: 670px;
  background-color: #eee;
}
.content-item-map .map-area {
  height: 100%;
}
.map-area .map {
  height: 100%;
}

#contactPage .desc-list-bus .add-hyphen > p {
  margin-bottom: 10px;
  color: #333;
}
.bus-lines > .line-name {
  display: inline-block;
  position: relative;
  font-weight: 700;
  padding-right: 12px;
  margin-right: 6px;
}
.bus-lines > .line-name::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #888;
}
.bus-nums {
  display: block;
  margin-top: 6px;
}
.bus-nums > em {
  display: inline-block;
  padding: 0 6px;
  margin: 3px 2px;
  border: 1px solid #bbb;
  border-radius: 5px;
  color: #333;
}

.artic-contact-inquiry .artic-desc > div {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

.artic-contact-inquiry .artic-desc > p > span {
  display: inline-block;
  margin-left: 14px;
}

#map {
  width: 380px;
  height: 670px;
}

/* ---- RECRUIT page ---- */
.table-recruit {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
}
.table-recruit thead {
  height: 40px;
  line-height: 40px;
  background-color: #dfdfdf;
  text-align: center;
  font-weight: 600;
}
.table-recruit tbody th,
.table-recruit tbody td {
  vertical-align: middle;
  border: 1px solid #dfdfdf;
}
.table-recruit tbody th {
  font-weight: 600;
}
.table-recruit tbody td {
  padding: 14px 0 14px 10px;
}
.table-recruit tbody td > p {
  margin-bottom: 8px;
}

.artic-svg {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

/* ---- SWIPER UNIT ---- */
.swiper-container.swiper {
  position: relative;
  /* padding-top: 8px; */
  /* overflow-y: visible; */
}
#idxTrdSwpContainer.swiper-container {
  overflow-x: hidden;
}
#mwsBannerContainer.swiper-container.swiper {
  padding-bottom: 10px;
}
.swiper-pagination {
  /* display: flex; */
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 8px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}
#idxTrdSwpContainer .swiper-pagination {
  display: flex;
  margin-top: 14px;
  margin-bottom: 24px;
}
#mwsBannerContainer .swiper-pagination {
  gap: 4px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  margin-bottom: 0;
}
.swiper-pagination .swiper-pagination-bullet {
  display: block;
  position: relative;
  width: auto;
  height: 22px;
  padding: 0 4px;
  margin: 0;
  border-radius: 0px;
  background-color: transparent;
  font-size: 14px;
  line-height: 22px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  font-weight: 600;
}
#idxTrdSwpContainer .swiper-pagination .swiper-pagination-bullet {
  font-size: 16px;
  margin: 0;
}
#idxTrdSwpContainer
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 8px;
  background-color: #d1d1fb;
  opacity: 0.7;
  z-index: -1;
}
#mwsBannerContainer .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 3px;
  /* border-radius: 20px; */
  /* border-radius: 2px; */
  background-color: #d1d1d1;
  text-indent: -99999px;
  /* box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); */
  transition: 0.3s ease-in-out;
  opacity: 1;
}
#mwsBannerContainer
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 54px;
  background-color: #313131;
}

#idxTrdSwpContainer .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.swiper-slide {
  width: auto;
}
#idxTrdSwpContainer .swiper-slide {
  width: 100%;
}
#idxTrdSwpContainer .trend-rank-list h4 {
  display: none;
}
#idxTrdSwpContainer .rank-list .rank-item {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.artic-news-keyword .slide-btn-wrap {
  display: none;
}
.slide-btn-wrap > .slide-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fefefe;
  background-color: #fff;
  box-shadow: 1px 3px 12px rgba(128, 128, 128, 0.2);
  cursor: pointer;
}
.slide-btn-wrap > .slide-btn.slide-left {
  left: 0px;
}
.slide-btn-wrap > .slide-btn.slide-right {
  right: 0;
}
.slide-btn-wrap > .slide-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-image: url('../img/icon/icon-slide-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.slide-btn-wrap > .slide-btn.slide-left::after {
  transform: translate(-50%, -50%) rotate(180deg);
  left: 48%;
}
.slide-btn-wrap > .slide-btn.slide-right::after {
  left: 54%;
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
  .page-header {
    min-width: 100%;
    overflow: hidden;
  }
  .page-title-wrap {
    width: 200%;
    margin-left: -50%;
  }

  .sec-title {
    display: inline-block;
  }

  .sec-content {
    float: none;
    width: 100%;
    margin: 42px auto 0;
  }
  #contactPage .sec-content {
    width: 96%;
  }
  #recruitPage .sec-content {
    width: 96%;
  }

  /*  BUSINESS inspect page 768px  */
  .artic-img-partnership-panel .svg-wrap {
    width: 30%;
    margin: 0 1.2%;
  }

  /*  CONTACT page 768px  */
  #contactPage .sec-content {
    margin-top: 24px;
  }
  .content-item-map {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% + 14px);
    height: 540px;
    margin-left: -7px;
    margin-top: 10px !important;
  }
  #map {
    width: 100%;
    height: 540px;
  }

  /*  RECRUIT page 768px  */
  .svg-recruit svg {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  /* SWIPER UNIT 680px */
  .artic-news-keyword .slide-btn-wrap {
    display: block;
  }
}

@media all and (max-width: 480px) {
  .add-hyphen > p::before {
    top: 10px;
  }
  .page-title-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    padding: 30px 0 0;
  }
  #companyPage .page-title-wrap {
    padding: 30px 0 0;
    background-image: none;
  }
  #businessContentPage .page-title-wrap,
  #businessInspectPage .page-title-wrap,
  #businessQualityPage .page-title-wrap,
  #businessSecurityPage .page-title-wrap {
    background-image: none;
  }
  #noticePage .page-title-wrap,
  #noticeViewPage .page-title-wrap {
    background-image: none;
  }
  #pressPage .page-title-wrap,
  #pressViewPage .page-title-wrap {
    background-image: none;
  }
  #contactPage .page-title-wrap {
    background-image: none;
  }
  #recruitPage .page-title-wrap {
    background-image: none;
  }

  .page-title-wrap .page-title-bg {
    position: relative;
    width: 150%;
    height: 150px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    order: 3;
  }
  #companyPage .page-title-wrap .page-title-bg {
    background-image: url('../img/main/topprt_00_480.png');
  }
  #businessContentPage .page-title-wrap .page-title-bg,
  #businessInspectPage .page-title-wrap .page-title-bg,
  #businessQualityPage .page-title-wrap .page-title-bg,
  #businessSecurityPage .page-title-wrap .page-title-bg {
    background-image: url('../img/main/topper_01.png');
  }
  #noticePage .page-title-wrap .page-title-bg,
  #noticeViewPage .page-title-wrap .page-title-bg {
    background-image: url('../img/main/topper_02.png');
  }
  #pressPage .page-title-wrap .page-title-bg,
  #pressViewPage .page-title-wrap .page-title-bg {
    background-image: url('../img/main/topprt_03.png');
  }
  #contactPage .page-title-wrap .page-title-bg {
    background-image: url('../img/main/topprt_00_480.png');
  }
  #recruitPage .page-title-wrap .page-title-bg {
    background-image: url('../img/main/topprt_04.jpg');
  }

  .page-title-wrap .page-title {
    width: 100%;
    text-align: center;
    padding-bottom: 14px;
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: 600;
    color: #2a2a2a;
    order: 1;
  }
  .page-title-wrap .page-title::after {
    width: 22px;
    height: 1px;
    background-color: #2a2a2a;
  }
  #companyPage .page-title-wrap .page-title {
    font-size: 22px;
  }
  .page-title-wrap .page-desc {
    width: 80vw;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: #2a2a2a;
    word-break: keep-all;
    order: 2;
  }
  #companyPage .page-title-wrap .page-desc {
    width: 65vw;
    margin: 0 auto;
    font-size: 14px;
  }
  #businessQualityPage .page-title-wrap .page-desc {
    width: 62vw;
  }
  #businessSecurityPage .page-title-wrap .page-desc {
    width: 60vw;
  }

  .sec-title {
    font-weight: 800;
  }
  .sec-title::before {
    width: 100%;
    max-width: 100%;
  }
  .sec-content {
    width: 100%;
    margin: 40px auto 0;
  }

  .artic-title-wrap {
    margin-bottom: 20px;
  }
  .artic-desc-wrap .artic-desc > p {
    line-height: 1.6;
  }

  /*  COMPANY page 480px  */
  #companyPage section.company-history {
    background-color: #f7f7f7;
  }

  section.company-info .content-item > article .info-item > p {
    width: 27%;
  }
  section.company-info .content-item > article .info-item > span {
    width: 73%;
  }
  .content-item > article .info-item > p,
  .content-item > article .info-item > span {
    vertical-align: top;
    font-size: 15px;
  }

  .history-box dl dt.history-year {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    font-size: 20px;
  }
  .history-explain {
    width: 100%;
  }
  .history-box {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  .history-box:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .history-box .history-month,
  .history-box .history-text {
    margin-bottom: 16px;
  }
  .history-explain .history-month {
    width: 23%;
    padding-left: 5px;
    box-sizing: border-box;
    font-weight: 700;
    color: #2a2a2a;
  }
  .history-explain .history-text {
    width: 77%;
  }
  .history-explain .history-month,
  .history-explain .history-text > span {
    font-size: 15px;
  }
  .history-explain .history-text > span {
    color: #616161;
  }

  .artic-organ-desc > p {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
  .artic-organ-desc > span {
    width: 100%;
    font-size: 15px;
  }
  .company-organization .artic-img {
    width: 100%;
    height: 260px;
  }
  .artic-organ-research .artic-img svg {
    width: 90%;
    margin: 10px auto;
  }

  .main_sub_cell b {
    font-weight: bold;
    color: black;
    font-size: 15px;
  }
  .main_sub_cell {
    width: 50%;
  }

  .main_sub_cell img {
    width: 80%;
  }

  /*  BUSINESS CONTENT page 480px  */
  .row-box {
    display: block;
  }
  .row-item {
    width: 100%;
    margin-bottom: 48px;
  }
  .row-item .img-wrap {
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  .row-item .img-wrap img {
    width: 100%;
  }
  .row-item .info-wrap > .info-title {
    font-size: 17px;
  }
  .row-item .info-wrap > p {
    line-height: 1.5;
    font-size: 15px;
  }

  /*  BUSINESS INSPECT page 480px  */
  .artic-interview .artic-img {
    width: calc(100% + 32px);
    height: auto;
    margin-left: -16px;
  }
  .artic-interview .artic-img > svg {
    height: auto;
  }

  .artic-qualitative .artic-img-box > em {
    height: auto;
  }

  section.business-inspect-online
    .content-item:last-child
    .artic-online
    .artic-desc
    .desc-list-wrap {
    margin-top: 0;
  }
  .artic-desc .desc-list-wrap .desc-list {
    margin-bottom: 30px;
  }

  .artic-img-online-panel {
    width: 90%;
    margin: 25px auto 30px;
  }
  .artic-img-online-panel .svg-wrap > img {
    width: 100%;
  }

  .artic-img-partnership-panel {
    margin: 25px auto 0;
  }
  .artic-img-partnership-panel .svg-wrap {
    height: auto;
  }
  .artic-img-partnership-panel .svg-wrap > img {
    height: auto;
    width: 100%;
  }

  /*  BUSINESS QUALITY page 480px  */
  .quality-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .quality-item > .middle-bar {
    width: 1px;
    height: 80px;
    order: 2;
  }
  .quality-item > .item-title {
    height: 52px;
    padding-top: 6px;
    margin: 0 auto 20px;
    order: 1;
  }
  .quality-item > .item-title,
  .quality-item > .item-explain {
    float: none;
  }
  .quality-item > .item-title.wide-1 {
    width: 180px;
  }
  .quality-item > .item-title.wide-2 {
    width: 180px;
  }
  .quality-item > .item-title.wide-3 {
    width: 180px;
  }
  .quality-item > .item-explain {
    width: 85%;
    height: auto;
    padding: 12px 14px;
    margin: 0 auto;
    order: 3;
  }
  .quality-item > .item-explain > p {
    line-height: 1.5;
    text-align: center;
  }

  /*  CONTACT page 480px  */
  #contactPage .desc-list-bus .add-hyphen > p {
    margin-bottom: 14px;
  }
  .bus-lines > .line-name {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .bus-lines > .line-name::after {
    display: none;
  }

  /*  RECRUIT page 480px  */
  #recruitPage .sec-content {
    width: 100%;
  }
  .artic-recruit .artic-desc.mode-mo {
    width: 100vw;
    padding: 10px 16px 0;
    margin-left: -16px;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    box-sizing: border-box;
  }

  .recruit-title-list {
    font-size: 0;
  }
  .recruit-title-list .recruit-title {
    display: inline-block;
    width: 33.33333%;
    padding: 10px 0;
    border-bottom: 1px solid #bfbfbf;
    font-size: 17px;
    font-weight: 600;
    color: #bfbfbf;
    text-align: center;
  }
  .recruit-title-list .recruit-title.now-on {
    border-bottom: 4px solid #444;
    color: #2a2a2a;
  }

  .recruit-content-wrap {
    padding: 10px 0 20px;
  }

  .recruit-content-list .recruit-content {
    padding: 24px 0 22px;
    border-bottom: 1px solid #dfdfdf;
  }
  .recruit-content-list .recruit-content:last-child {
    border-bottom: none;
  }
  .recruit-content-list {
    display: none;
  }
  .recruit-content-list.now-on {
    display: block;
  }
  .recruit-content .content-title {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
  }
  .recruit-content .content-sub {
    margin-left: 16px;
    margin-bottom: 18px;
    font-size: 14px;
  }
  .recruit-content .content-sub:last-child {
    margin-bottom: 0;
  }
  .recruit-content .content-sub > dt {
    margin-bottom: 9px;
    font-weight: 600;
  }
  .recruit-content .content-sub > dd {
    margin-left: 16px;
    margin-bottom: 6px;
  }

  .svg-recruit.mode-mo {
    width: 100vw;
    margin-left: -16px;
  }

  /* ---- SWIPER UNIT // 480px ---- */
  .swiper-pagination {
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* width: 400%; */
  }
  .swiper-slide {
    width: 100%;
    /* width: 200px; */
    text-align: center;
  }
  .rank-list .rank-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
