@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css');
@import url('https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css');

* {
  /* font-family: 'Pretendard', 'Noto Sans KR', Apple Gothic, 'sans-serif'; */
  font-family: 'Pretendard GOV', 'Noto Sans KR', Apple Gothic, 'sans-serif';
}
body,
h1,
h2,
h3,
h4,
input,
textarea,
select,
button {
  /* font-family: 'Pretendard', 'Noto Sans KR', Apple Gothic, 'sans-serif'; */
  font-family: 'Pretendard GOV', 'Noto Sans KR', Apple Gothic, 'sans-serif';
  font-size: 16px;
  color: #313131;
  line-height: 1.3;
  letter-spacing: -0.02rem;
}
