:root {
  /* 규격 */
  --wd-center: 1500px;
  --ht-hd: 42px;
  --ht-ft: 30px;
  --ht-right-box: calc(100vh - var(--ht-hd) - var(--ht-ft) - 40px);
  --ht-right-cont: calc(
    100vh - var(--ht-hd) - var(--ht-ft) - 16px - 40px - 70px - 14px - 6px - 0px
  );
  --ht-right-cont-emot-eval: calc(
    100vh - var(--ht-hd) - var(--ht-ft) - 16px - 40px - 70px - 14px - 68px -
      48px - 36.5px - 14px - 6px - 0px
  );

  /* 색상 */
  --cl-primary: #1f78fd;
  --cl-primary-hover: #3b87fa;
  --cl-primary-sub: #6f9de2;
  --cl-primary-sub-hover: #6f9de2;
  --cl-red: #e15241;
  --cl-red-sub: #e9acb2;

  /* 배경 */
  --bg-primary-sub: rgb(213, 234, 255);
  --bg-primary-soft: rgb(237, 244, 249);
  --bg-red-soft: #fbf2f2;
  --bg-box: #f3f4f6;

  /* 선 색상 */
  --ln-bx-l: #e1e4e9;
  --ln-inpt-normal: #ddd;
  --ln-layout: rgb(234, 234, 234);

  /* 모션 */
  --trst-l: 0.4s ease-out;
  --trst-s: 0.2s ease-out;

  /* box shadow */
  --bxsd-l: 1px 3px 8px rgba(0, 0, 0, 0.12);
  --bxsd-s: 1px 3px 6px rgba(0, 0, 0, 0.12);
  --bxsd-l-in: inset 1px 1px 8px rgba(0, 0, 0, 0.12);
  --bxsd-s-prim: 1px 3px 6px rgba(0, 29, 194, 0.12);
  --bxsd-s-red: 1px 3px 6px rgba(188, 0, 0, 0.12);

  --ft-fs-r: 'FlightSans-Regular';
  --ft-fs-b: 'FlightSans-Bold';
}

/*** MAIN ***/
#wrap {
  width: 100%;
}
#main {
  position: relative;
  padding-top: calc(var(--ht-hd) + 16px + 8px + 16px);
  overflow-y: hidden;
}
#wrap::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  z-index: -1;
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: var(--wd-center);
  height: 100%;
  margin: 0 auto;
}
.wrapper > .layout-sect {
  position: relative;
  width: 48%;
  border-radius: 24px;
  background-color: #f3f4f6;
  overflow: hidden;
}
.wrapper > .layout-sect::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  box-shadow: var(--bxsd-l-in);
  pointer-events: none;
}
.wrapper > .layout-sect.sect--left {
  width: 800px;
}
.wrapper > .layout-sect.sect--right {
  width: 45%;
  background-color: #ecedef;
  /* left: calc(800px + 34px); */
  /* position: fixed;
  left: unset;
  left: calc(100% - ((100vw - 1500px) / 6 + 800px));
  z-index: 200; */
}
.wrapper > .layout-sect > .sect__inner {
  /* width: 100%; */
  width: calc(100% + 16px);
  margin-right: -16px;
  /* height: 100%; */
  height: calc(100vh - 82px - 24px);
  padding: 28px;
  overflow-y: scroll;
}
.wrapper > .layout-sect.sect--right > .sect__inner {
  padding-right: 44px;
  overflow: hidden;
}

/** MAIN > INDEX **/
.layout-sect .cont {
  padding-bottom: 34px;
}
.layout-sect .cont .cont__inner {
  height: var(--ht-right-box);
  border-radius: 18px;
  /* background-color: #fff; */
}
.cont__box {
  border-radius: 18px;
  background-color: #fff;
}
.layout-sect.sect--right .cont__box {
  display: none;
  /* height: calc(100% - 36px - 56px); */
  height: initial;
  border-radius: 0 0 18px 18px;
  border: none;
  overflow: hidden;
}
.layout-sect.sect--right .cont__box.on {
  display: block;
}
.cont__box .box__inner {
  padding: 24px 24px;
}
.layout-sect.sect--right .cont__box .box__inner {
  max-height: var(--ht-right-cont);
}
.cont__box .cont-hd__wrap {
  margin-bottom: 18px;
}
.cont--reaction .cont__box .cont-hd__wrap {
  padding-bottom: 0;
}
.cont-hd__wrap .tap__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 14px;
}
.cont-hd__wrap .tap__item {
  position: relative;
  padding-right: 35px;
  border-radius: 40px;
  border: 1px solid #e1e1e1;
  background-color: #f3f4f6;
}
.cont-hd__wrap .tap__item::after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  background-color: #f3f4f6;
  background-image: url('../img/icon/icon-arrow-b1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
.cont-hd__wrap .tap__item:hover {
  cursor: pointer;
}
.cont-hd__wrap .tap__item.on {
  border: 1px solid var(--cl-primary);
  background-color: #fff;
}
.cont-hd__wrap .tap__item.on::after {
  border: 1px solid var(--cl-primary);
  background-color: var(--cl-primary);
  background-image: url('../img/icon/icon-arrow-wh.svg');
}
.cont-hd__wrap .tap__item > span {
  display: inline-block;
  padding: 0 18px;
  font-family: var(--ft-fs-r);
  font-size: 16px;
  color: #a1a1a1;
  line-height: 44px;
}
.cont-hd__wrap .tap__item:hover > span {
  color: #313131;
}
.cont-hd__wrap .tap__item.on > span {
  font-family: var(--ft-fs-b);
  color: #313131;
}

.cont-hd__wrap .cont-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  position: relative;
  font-family: var(--ft-fs-b);
  font-size: 20px;
}
.cont-hd__wrap .cont-title > .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--cl-primary);
  line-height: 32px;
  text-align: center;
}

.cont__wrap .wrap-hd {
  margin-bottom: 18px;
}
.cont__wrap.reaction .wrap-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  font-family: var(--ft-fs-b);
  font-size: 22px;
}
.cont__wrap.reaction .wrap-title > .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--cl-primary);
  line-height: 32px;
  text-align: center;
}
.cont__wrap.reaction .bd__inner {
  display: flex;
  flex-wrap: nowrap;
}
.reaction__wrap .reaction__item {
  position: relative;
  padding: 16px 20px;
  margin-bottom: 14px;
  border-radius: 14px;
  background-color: #f3f4f6;
}
.reaction__wrap .reaction__item:last-child {
  margin-bottom: 0;
}
.reaction__item .name {
  margin-bottom: 4px;
  font-family: var(--ft-fs-b);
  font-size: 15px;
}
.reaction__item .name > .icon {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 14px;
  margin-top: -1px;
  margin-right: 14px;
  background-image: url('../img/icon/icon-aim-414141.png');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.reaction__item.now .name > .icon {
  background-image: url('../img/icon/icon-aim-primary.png');
}
.reaction__item .name > .icon::after {
  content: '';
  display: block;
  position: absolute;
  right: -7px;
  bottom: 1px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #414141;
}
.reaction__item.now .name > .icon::after {
  background-color: var(--cl-primary);
}
.reaction__item .date {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
  color: #818181;
  letter-spacing: -0.05rem;
}
.reaction__item.now .date {
  color: var(--cl-primary-sub);
}
.reaction__item .txt > span {
  display: inline-block;
  font-size: 17px;
  color: #616161;
  letter-spacing: -0.05rem;
}
.reaction__item.now .txt {
  font-weight: 500;
}

/** MAIN > 브랜드별 현황 **/
.cont.cont--status .brand-list-hd {
  margin-bottom: 8px;
}
.brand-list-hd .hd-item-gauge {
  font-size: 15px;
  font-weight: 500;
  color: #616161;
  text-align: center;
}
.brand-list-bd .brand__item {
  padding: 16px 16px;
  border-radius: 16px;
  border: 1px solid var(--ln-bx-l);
  background-color: #fafafa;
  margin-bottom: 14px;
}
.brand-list-bd .brand__item:first-child {
  border: 1px solid var(--cl-primary);
}
.brand-list-bd .brand__item:last-child {
  margin-bottom: 0;
}
.brand__item .sub__item .item-name {
  font-weight: 400;
  color: #616161;
}
.brand__item .item--total,
.brand__item .sub__item,
.brand-hd__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 8px;
}
.brand__item .item--total {
  margin-bottom: 0;
}
.brand__item .sub__list {
  margin-top: 8px;
}
.brand__item .sub__list .sub__item:last-child {
  margin-bottom: 0;
}
.brand__item .item-name,
.sub__item .item-name,
.brand-hd__item .hd-item-name {
  width: 100px;
  /* padding-right: 8px; */
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.04rem;
  text-align: right;
  word-break: keep-all;
}
.sub__item .item-name {
  font-size: 14px;
}
.brand__item.empty .item-gauge {
  width: calc(100% - 80px);
  border-radius: 4px;
  background-color: #ededed;
}
.brand__item.empty .item-gauge .note {
  font-size: 14px;
  color: #616161;
  line-height: 36px;
  text-align: center;
}
.brand__item .item-gauge,
.sub__item .item-gauge,
.brand-hd__item .hd-item-gauge {
  width: calc(50% - 42px);
}
.brand-list-hd .hd-item-gauge {
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #f3f4f6;
  font-size: 14px;
}
.brand__item .item-gauge .gauge--100,
.sub__item .item-gauge .gauge--100 {
  position: relative;
  height: 23px;
  border-radius: 4px;
  background-color: #ddd;
  overflow: hidden;
}
.brand__item .gauge--100 > .gauge--posts,
.sub__item .gauge--100 > .gauge--posts {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--cl-primary);
  transition: 0.4s ease-in-out;
}
.sub__item .gauge--100 > .gauge--posts {
  background-color: var(--cl-primary-sub);
}
.brand__item#brandA .item--total .gauge--100 > .gauge--posts {
  width: 70%;
}
.brand__item#brandA .sub__item .gauge--100 > .gauge--posts {
  width: 30%;
}
.brand__item#brandB .item--total .gauge--100 > .gauge--posts {
  width: 55%;
}
.brand__item#brandC .item--total .gauge--100 > .gauge--posts {
  width: 45%;
}
/* .brand__item .gauge--100 > .gauge--posts > .count,
.sub__item .gauge--100 > .gauge--posts > .count, */
.brand__item .count {
  position: absolute;
  top: 53%;
  /* right: 10px; */
  /* transform: translateY(-50%); */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
  letter-spacing: -0.04rem;
  white-space: nowrap;
  word-break: keep-all;
}

.brand__item .item-gauge.emo .gauge--100 {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
}
.brand__item .gauge--posit,
.brand__item .gauge--neut,
.brand__item .gauge--negat {
  position: relative;
}
.brand__item .gauge--posit {
  /* background-color: var(--cl-primary); */
  background-color: rgba(43, 93, 244, 0.8);
  /* opacity: 0.9; */
}
.brand__item .gauge--neut {
  /* background-color: rgb(192, 192, 192); */
  background-color: rgba(251, 196, 0, 0.8);
}
.brand__item .gauge--negat {
  /* background-color: tomato; */
  background-color: rgba(245, 57, 51, 0.75);
  /* opacity: 0.9; */
}
.brand__item#brandA #bATotal .gauge--posit {
  width: 50%;
}
.brand__item#brandA #bATotal .gauge--neut {
  width: 20%;
}
.brand__item#brandA #bATotal .gauge--negat {
  width: 30%;
}
.brand__item #bAcA .gauge--posit {
  width: 64%;
}
.brand__item #bAcA .gauge--neut {
  width: 16%;
}
.brand__item #bAcA .gauge--negat {
  width: 38%;
}
.brand__item #bAcB .gauge--posit {
  width: 26%;
}
.brand__item #bAcB .gauge--neut {
  width: 16%;
}
.brand__item #bAcB .gauge--negat {
  width: 58%;
}
.brand__item #bAcC .gauge--posit {
  width: 11%;
}
.brand__item #bAcC .gauge--neut {
  width: 31%;
}
.brand__item #bAcC .gauge--negat {
  width: 58%;
}

/** MAIN > RIGHT SEC **/
.cont-top__box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-bottom: 0;
  border-radius: 14px 14px 0 0;
  background-color: #fff;
}
.cont-top__box .cont-tab__wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 4px;
  border-radius: 10px;
  background-color: #f4f4f7;
}
.cont-tab__wrap .tab__item {
  padding: 0px 22px 0px;
  border-radius: 7px;
  font-size: 15px;
  color: #a1a1a1;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  letter-spacing: -0.04rem;
  transition: var(--trst-s);
}
.cont-tab__wrap .tab__item:hover {
  color: #515151;
}
.cont-tab__wrap .tab__item.on {
  border: 1px solid var(--cl-primary-sub);
  background-color: #fff;
  font-weight: 600;
  color: var(--cl-primary);
}
.cont-top__box .btn.btn--icon > a,
.cont-top__box .btn.btn--icon > button {
  width: auto;
  padding-left: 38px;
  padding-right: 12px;
  background-size: 20px;
  background-position: 11px 50%;
  color: var(--cl-primary);
  line-height: 38px;
  letter-spacing: -0.05rem;
  text-indent: 0;
}
.cont-top__box .btn.btn--icon > a:hover,
.cont-top__box .btn.btn--icon > button:hover {
  color: #fff;
}

/* MAIN > RIGHT SEC > 감성 이유 */
.cont-hd__wrap .cont-tag {
  margin-top: 6px;
}
.cont-tag .tag__item {
  display: inline-block;
  padding: 0 8px 4px 0;
  font-size: 14px;
  color: var(--cl-primary-sub);
}
.cont__box.cont--emot-eval .bd__inner,
.cont__box.cont--topic-analysis .bd__inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 14px;
}
.cont__box.cont--emot-eval .bd__inner .emot__wrap {
  width: 50%;
}
.cont__box.cont--topic-analysis .bd__inner .topic__wrap {
  width: 50%;
}

.cont--emot-eval .emot__wrap .wrap-name {
  display: inline-block;
  padding: 9px 18px 8px 14px;
  margin-bottom: 5px;
  border-radius: 18px 18px 18px 0;
  /* background-color: var(--cl-primary); */
  background-color: rgba(43, 93, 244, 0.9);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.cont--emot-eval .emot__wrap.negat .wrap-name {
  /* background-color: var(--cl-red); */
  background-color: rgba(245, 57, 51, 0.85);
}
.cont--emot-eval .emot {
  height: var(--ht-right-cont-emot-eval);
  border-radius: 0 10px 10px 10px;
  background-color: #f4f4f7;
  box-shadow: var(--bxsd-l-in);
  overflow: hidden;
}

.cont--emot-eval .emot__wrap.posit .emot {
  border: 2px solid var(--cl-primary-sub);
  background-color: var(--bg-primary-soft);
}
.cont--emot-eval .emot__wrap.negat .emot {
  border: 2px solid var(--cl-red-sub);
  background-color: var(--bg-red-soft);
}
.cont--emot-eval .emot__wrap .emot__list {
  width: calc(100% + 14px);
  height: 100%;
  padding: 10px 8px;
  margin-right: -14px;
  overflow-y: scroll;
}
.cont--emot-eval .emot__list .list__inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cont--emot-eval .emot__list .emot__item {
  padding: 8px 10px 6px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 15px;
  box-shadow: var(--bxsd-s);
}
.cont--emot-eval .emot__wrap.posit .emot__list .emot__item {
  box-shadow: var(--bxsd-s-prim);
}
.cont--emot-eval .emot__wrap.negat .emot__list .emot__item {
  box-shadow: var(--bxsd-s-red);
}

/* MAIN > RIGHT SEC > AI 주제 분석 */
.cont--topic-analysis .topic__wrap .list-name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #f3f4f6;
}
.cont--topic-analysis .topic__wrap .name {
  font-size: 14px;
  font-weight: 600;
  color: #616161;
  text-align: center;
  letter-spacing: -0.04rem;
}
.cont--topic-analysis .topic__wrap .name.topic {
  width: 70px;
}
.cont--topic-analysis .topic__group {
  padding: 10px;
  border-radius: 8px;
  background-color: #f3f4f6;
  margin-bottom: 14px;
}
.cont--topic-analysis .topic__item {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 8px;
}
.cont--topic-analysis .topic__item:last-child {
  margin-bottom: 0;
}
.cont--topic-analysis .topic__item .topic-element.topic {
  width: 70px;
  padding-right: 4px;
  font-size: 14px;
  color: #616161;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.04rem;
}
.cont--topic-analysis .topic__item.l-ctgry .topic-element.topic {
  /* font-size: 15px; */
  font-weight: 500;
  color: #313131;
}
.cont--topic-analysis .topic__item .topic-element.amount {
  width: calc(100% - 70px - 70px);
}
.cont--topic-analysis .topic__item .topic-element.amount .gauge--100 {
  position: relative;
  width: 100%;
  height: 22px;
  border-radius: 6px;
  background-color: #ddd;
  overflow: hidden;
}
.cont--topic-analysis .topic__item .topic-element.amount .gauge--amount {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
}
.cont--topic-analysis .topic__item .topic-element.emot {
  padding: 0px 6px;
  border-radius: 20px;
  background-color: #ddd;
  text-align: center;
}
.cont--topic-analysis .topic__item .topic-element.emot.posit {
  background-color: var(--cl-primary);
}
.cont--topic-analysis .topic__item .topic-element.emot.negat {
  background-color: var(--cl-red);
}
.cont--topic-analysis .topic__item .topic-element.emot > span {
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  letter-spacing: -0.04rem;
}

.cont--topic-analysis .topic__wrap.detail .wrap-name {
  margin-bottom: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #f3f4f6;
  font-size: 14px;
  font-weight: 600;
  color: #616161;
  text-align: center;
}
.cont--topic-analysis .topic__wrap.detail .topic-detail__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: var(--ht-right-cont-emot-eval);
}
.cont--topic-analysis .topic__wrap.detail .topic-detail {
  height: 50%;
  padding: 10px;
  border-radius: 8px;
  background-color: #f3f4f6;
  overflow-y: hidden;
}
.cont--topic-analysis .topic__wrap.detail .topic-detail.posit {
  border: 2px solid var(--cl-primary-sub);
  background-color: var(--bg-primary-soft);
}
.cont--topic-analysis .topic__wrap.detail .topic-detail.negat {
  border: 2px solid var(--cl-red-sub);
  background-color: var(--bg-red-soft);
}
.cont--topic-analysis .topic__wrap.detail .topic-detail__list {
}
.cont--topic-analysis .topic__wrap.detail .detail__item {
  padding: 6px 8px 5px;
  margin-bottom: 6px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: var(--bxsd-s);
}
.cont--topic-analysis
  .topic__wrap.detail
  .topic-detail__list.posit
  .detail__item {
  box-shadow: var(--bxsd-s-prim);
}
.cont--topic-analysis
  .topic__wrap.detail
  .topic-detail__list.negat
  .detail__item {
  box-shadow: var(--bxsd-s-red);
}
.cont--topic-analysis .topic__wrap.detail .detail__item:last-child {
  margin-bottom: 0;
}

/** MAIN > LOGIN **/
#wrap.login-page #main {
  height: calc(100vh - var(--ht-ft));
}
.wrapper:has(.layout-sect.sect--center) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap.login-page .wrapper > .layout-sect {
  width: auto;
  margin-top: -24px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: none;
  overflow-x: unset;
}
#wrap.login-page .wrapper > .layout-sect > .sect__inner {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-right: 0;
  overflow-y: unset;
}
#wrap.login-page .wrapper > .layout-sect .cont {
  padding-bottom: 0;
}
.login-page .cont__box .box__inner {
  padding: 52px;
}
.cont--login .logo__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.cont--login .logo__wrap .logo {
  width: 170px;
  height: 34px;
  background-image: url('../img/common/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

.login__wrap .input-label {
  margin-bottom: 18px;
}
.login__wrap .input-label:last-child {
  margin-bottom: 0;
}
.login__wrap .label-txt {
  display: block;
  margin-bottom: 8px;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 600;
}
.login__wrap input {
  width: 100%;
  border: 1px solid#ccc;
  border-radius: 4px;
  background-color: #fff;
  height: 46px;
}
.login__wrap .input-label span.error {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: var(--cl-red);
}

.cont--login .btn__wrap {
  margin-top: 34px;
}
.cont--login .btn__wrap .btn {
  display: block;
}
.cont--login .btn__wrap .btn > a {
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  line-height: 46px;
  text-align: center;
}
.cont--login .wrap-ft {
  margin-top: 34px;
}
.cont--login .info__wrap > p {
  font-size: 15px;
}

.cont--login .link__wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  justify-content: space-between;
  margin-top: 24px;
}
.cont--login .link__item > a {
  font-size: 15px;
  font-weight: 500;
  color: var(--cl-primary-sub);
}
.cont--login .link__item > a:hover {
  color: var(--cl-primary-sub-hover);
}
